<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> <!-- including the head section using ejs -->

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="details content">
                <h2>
                    <%= blog.title %>
                </h2>
                <div class="content">
                    <p>
                        <%= blog.body %>
                    </p>
                </div>
                <a class="delete" data-doc="<%= blog._id %>">delete</a>
            </div>

            <%- include("./partials/footer.ejs") %>
                <script>
                    const trashcan = document.querySelector('a.delete');

                    trashcan.addEventListener('click', (e) => {
                        //sendig a delete request to the server
                        const endpoint = `/blogs/${trashcan.dataset.doc}`;
                        /*we use fetch to send delete request
                        we get the json data back as response
                        we parse it to javascript object
                        we get the redirect path and add it to the window object
                        */
                        fetch(endpoint, { method: 'DELETE' })
                            .then(response => response.json())
                            .then(data => window.location.href = data.redirect)
                            .catch(err => {
                                console.log(err);
                            })
                    })
                </script>
    </body>

</html>